.home-top {
  width: 100%;
  height: 1100px;
  // border: 1px solid red;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  background-image: url(../../../assets//images/homeTopBG.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 100px;

  &-title {
    font-family: var(--ff-1);
    color: var(--green-dark);
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &-container {
    width: 75%;
    height: 650px;
    border: inherit;
    margin-top: 70px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px #848383;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    & > .swiper {
      width: 100%;
      height: 100%;
      // background-color: aqua;

      & > .swiper-wrapper {
        width: 100%;
        // height: 700px;

        & > .swiper-slide {
          width: 100%;
          height: 95%;
          padding: 50px;
          display: flex;
          flex-direction: column;
          gap: 25px;

          .swiper-slide-productsContainer {
            width: 100%;
            height: 100%;
            border: 1px solid red;
            border-radius: 8px;
            background-color: #f5f5f5;
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: visible;
            /* From https://css.glass */
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9.8px);
            -webkit-backdrop-filter: blur(9.8px);
            border: 1px solid rgba(231, 121, 24, 0.37);

            h1 {
              // border: 1px solid red;
              font-family: var(--ff-1);
              font-size: 15px;
              font-weight: 500;
              line-height: 24px;
              text-transform: uppercase;
              // color: var(--orange-dark);
              text-align: center;
            }

            img {
              // border: 1px solid red;
              width: 250px;
              margin-top: 15px;
              // box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            }

            p {
              text-align: justify;
              font-family: var(--ff-1);
              font-size: 15px;
              margin-top: 15px;
              font-weight: 500;
              line-height: 27px;
              padding: 25px;
              position: absolute;
              top: 70%;
              /* From https://css.glass */
              background: rgba(51, 165, 121, 0.089);
              border-radius: 8px;
              box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
              backdrop-filter: blur(5px);
              -webkit-backdrop-filter: blur(5px);
              border: 1px solid rgba(33, 86, 66, 0.3);
            }
          }
        }
      }

      & > .swiper-button-prev {
        color: var(--green-light);
      }

      & > .swiper-button-next {
        color: var(--green-light);
      }

      & > .swiper-pagination {
        > .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          background-color: var(--green-light);
        }
      }
    }
  }
}
