.home-offer {
  background-size: cover;
  background-image: url("../../../assets/images/home-offer-bcg.png");
  min-height: var(--global-section-height);
  display: flex;
  align-items: center;
  justify-content: center;
  &-inner {
    padding: 40px 0;
    gap: 80px;
    display: flex;
    align-items: center;

    &-desc {
      width: 30%;

      &-txt {
        color: gray;
        font-size: 18px;
        margin-top: 10px;
        font-family: var(--ff-1);
      }
    }

    &-image {
      &-mainImg {
        width: 700px;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &-img {
          width: 75%;
          height: 75%;
          border-radius: 50%;
        }

        &-rotateImg {
          width: 86%;
          height: 86%;
          position: absolute;
          left: 52px;
          // top: -100px;
          transform-origin: center;
          animation-name: rotateImg_anim;
          animation-duration: 60s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;

          @keyframes rotateImg_anim {
            to {
              transform: rotate(360deg);
            }
          }
        }

        &-secondRotateImg {
          width: 900px;
          height: 900px;
          position: absolute;
          transform-origin: center;
          animation-duration: 60s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-name: secondRotateImg_anim;

          @keyframes secondRotateImg_anim {
            to {
              transform: rotate(-360deg);
            }
          }
        }
      }
    }
  }
}
