.home-register {
  max-width: var(--global-max--width);
  margin: auto;
  padding: 64px;
  display: flex;
  gap: 64px;
  &-map {
    flex-grow: 1;
    > iframe {
      width: 100%;
    }
  }
  &-form {
    width: 450px;
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.1);
    padding: 50px 45px;
    transform: translateY(-170px);
    border-radius: 10px;
    background-color: white;
    position: relative;
    h1 {
      text-align: center;
      margin-bottom: 32px;
      color: var(--green-dark);
    }
    &-row {
      margin-bottom: 40px;
      fieldset {
        border: none;
        outline: none;
      }
      label {
        color: var(--orange-dark) !important;
      }

      .form-error,
      .form-error--confirmation {
        color: red;
        position: absolute;
        right: 45px;
        font-size: 12px;
      }
      .form-error--confirmation {
        left: 45px;
      }
      &-phone {
        display: flex;
        align-items: center;
        > div {
          > select {
            height: 100%;
            height: 56px;
            outline: none;
            min-width: 40px;
          }
        }
        select {
          padding: 0 10px;
          fieldset {
            height: 100%;
            height: 56px;
            // border: solid;
          }
        }
      }
    }
  }
}
