.home-about-circle {
  width: 100%;
  height: 500px;
  border: 1px solid red;
  background-image: url(../../../assets/images/homeAboutCircleBG.png);
  background-size: cover;
  background-position: center;
}
