@media only screen and (max-width: 1490px) {
  .swiper-slide-productsContainer {
    height: auto !important;
  }
}

@media only screen and (max-width: 1400px) {
  .home-top-container > .swiper-slide-container > p {
    font-size: 15px !important;
  }
  .nav-bar-links-link {
    padding: 0 8px !important;
  }

  .header-inner-search-title-txt {
    font-size: 14px !important;
  }

  .header-inner-search-title-icon {
    font-size: 20px !important;
  }

  .header-inner-auth-panel-signIn {
    font-size: 15px !important;
  }

  .header-inner-auth-panel-signIn a svg {
    font-size: 18px !important;
  }

  .swiper-slide-container > h1 {
    font-size: 3vw !important;
  }

  .swiper-slide-container > p {
    font-size: 2vw !important;
  }
}

@media only screen and (max-width: 1200px) {
  .section-title {
    font-size: var(--font-size-mid) !important;
  }

  .nav-bar-links-link {
    padding: 0px !important;
  }

  .header-inner-search-title-icon {
    margin-left: 4px !important;
  }

  .header-inner-search-title-txt {
    font-size: 14px !important;
    margin-left: 4px !important;
  }

  .header-inner-auth-panel-signIn-link p {
    font-size: 14px !important;
    margin-left: 4px !important;
  }

  .header-inner-auth-panel-signIn-link-icon {
    font-size: 17px !important ;
  }

  .header-inner-auth-panel-lang-title-txt {
    font-size: 15px !important;
  }

  .home-counter {
    height: auto;
    padding: 70px 0px;
  }

  .home-counter-container {
    flex-wrap: wrap;
    height: auto;
    row-gap: 25px;
  }

  .home-counter-container-box {
    width: 50%;
  }

  /* FOOTER */

  .footer-inner-top-webPage-info {
    width: 23% !important;
  }

  .footer-inner-top-webPage-info-desc p {
    font-size: 14px !important;
  }

  .footer-inner-top-webPage-info-networks {
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }

  .footer-inner-top-webPage-info-networks-network {
    margin-top: 10px !important;
    margin-left: 0px !important ;
  }

  .footer-inner-top-explore {
    width: 23% !important;
    margin-left: 10px !important;
  }

  .footer-inner-top-explore-title {
    font-size: 20px !important;
  }

  .footer-inner-top-explore-links-link {
    font-size: 14px !important;
    margin-left: 4px !important;
  }

  .footer-inner-top-contact {
    width: 23% !important;
    margin-left: 10px !important;
  }

  .footer-inner-top-contact-title {
    font-size: 20px !important;
  }

  .footer-inner-top-contact-links-address p {
    font-size: 14px !important;
    margin-left: 4px !important;
  }

  .footer-inner-top-contact-links-address svg {
    font-size: 34px !important;
  }

  .footer-inner-top-contact-links-phone a {
    font-size: 14px !important;
    margin-left: 4px !important;
  }

  .footer-inner-top-contact-links-phone svg {
    font-size: 17px !important;
  }

  .footer-inner-top-contact-links-email a {
    font-size: 14px !important;
    margin-left: 4px !important;
  }

  .footer-inner-top-contact-links-email svg {
    font-size: 15px !important;
  }

  .footer-inner-top-newsletter {
    width: 23% !important;
    margin-left: 10px !important;
  }

  .footer-inner-top-newsletter-title {
    font-size: 20px !important;
  }

  .footer-inner-top-newsletter form input {
    padding: 20px 10px !important;
  }

  .footer-inner-top-newsletter form button {
    right: 8px !important;
  }

  .footer-inner-bottom-desc-txt {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .home-top-container {
    width: 95% !important;
  }

  .home-top-partners {
    width: 95% !important;
  }
  .home-register {
    flex-direction: column;
    align-items: center;
  }
  .home-register-map {
    width: 100%;
  }
  .home-register-form {
    width: 80% !important;
    transform: translateY(-100px) !important;
  }
}

@media only screen and (max-width: 1030px) {
  .section-title {
    font-size: var(--font-size-small) !important;
  }
  .nav-bar {
    display: none !important;
  }

  .header-inner-search {
    display: none !important;
  }

  .header-inner-auth-panel {
    width: 240px !important;
  }

  .header-inner-auth-panel-signIn {
    width: 50% !important;
  }

  .header-inner-auth-panel-lang {
    width: 50% !important;
  }

  .header-inner-mobile-icon {
    display: block !important;
  }

  .swiper-slide-container {
    padding: 30px !important ;
  }

  .swiper-slide-container > button {
    width: 50% !important;
    /* padding: 5px !important ; */
    font-size: 2vw !important;
  }

  /* .atropos-inner > img {
    width: 50% !important ;
    left: -10% !important ;
  } */
}

@media only screen and (max-width: 720px) {
  .footer-inner-top {
    flex-direction: column !important;
  }

  .footer-inner-top-webPage-info {
    width: 100% !important;
  }

  .footer-inner-top-webPage-info-logo {
    width: 200px !important;
  }

  .footer-inner-top-webPage-info-networks {
    width: 260px !important;
    flex-wrap: wrap !important;
  }

  .footer-inner-top-explore {
    width: 260px !important;
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  .footer-inner-top-explore-links {
    flex-wrap: nowrap !important;
    flex-direction: column !important;
  }

  .footer-inner-top-contact {
    width: 260px !important;
    margin-left: 0 !important;
    margin-top: 20px !important;
  }

  .footer-inner-top-newsletter {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 645px) {
  .home-counter-container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  /* .atropos {
    height: 50% !important;
  } */

  .subscribe-inner-form-input-prnt {
    width: 100%;
  }

  .subscribe-inner-form-input-prnt > input {
    width: 70% !important;
  }

  .subscribe-inner-form-input-prnt > button {
    width: 30% !important;
  }
}

@media only screen and (max-width: 550px) {
  .home-top-container {
    height: auto !important;
  }
}

@media only screen and (max-width: 500px) {
  .header-inner-logo {
    width: 30% !important;
  }

  .header-inner-logo img {
    width: 100% !important;
    object-fit: contain !important;
  }

  .header-inner-mobile-icon {
    width: 50px !important;
  }

  .footer-inner-bottom-desc-txt {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 480px) {
  .home-counter-container-box {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .header-inner-auth-panel-lang-select {
    top: 25px !important;
    right: -15px !important;
  }

  .header-inner-auth-panel-signIn-link {
    padding-left: 4px !important;
    flex-direction: column !important;
    justify-content: space-between !important;
  }

  .header-inner-auth-panel-signIn-link p {
    padding: 0 !important;
    margin-top: 4px !important;
  }

  .header-inner-auth-panel-signIn-link-mobile-icon {
    display: block !important;
    color: #3a3939 !important;
    transition: all 0.2s !important;
  }

  .header-inner-auth-panel-signIn-link-icon {
    display: none !important;
  }

  .services-inner {
    padding: 0 10px;
  }

  .services-inner-title-light {
    font-size: 16px;
  }

  .services-inner-title-bold {
    font-size: 22px;
  }

  .services-inner-list-item {
    width: 100%;
    height: 450px;
  }

  .services-inner-list-item-desc-icon {
    font-size: 34px;
  }

  .services-inner-list-item-desc-title {
    font-size: 18px;
  }

  .services-inner-list-item-desc-txt {
    font-size: 14px;
  }

  .subscribe-inner {
    padding: 45px 10px !important;
  }

  .subscribe-inner-title-light {
    font-size: 16px !important;
  }

  .subscribe-inner-title-bold {
    font-size: 22px !important;
  }

  .subscribe-inner-form-input-prnt > input {
    width: 70% !important;
    padding: 0 10px !important;
    font-size: 14 px !important;
  }

  .subscribe-inner-form-input-prnt > button {
    min-width: 120px !important;
    font-size: 14px !important;
  }

  .home-top {
    height: auto !important;
    padding: 50px 0px;
  }
}

@media only screen and (max-width: 400px) {
  .header-inner-logo {
    width: 120px !important ;
  }

  .header-inner-logo img {
    width: 100% !important;
    height: 100% !important;
    object-fit: unset !important;
  }

  .header-inner-auth-panel-lang-select {
    width: 80px !important;
    right: 10px !important;
  }

  .header-inner-auth-panel-lang-select-option-title {
    font-size: 13px !important;
  }

  .header-inner-auth-panel-lang-select-option-icon {
    width: 12px !important;
  }

  .header-inner-auth-panel {
    width: 40% !important;
  }

  .header-inner-auth-panel-signIn-link p {
    display: none !important;
  }

  .header-inner-auth-panel-signIn-link svg {
    font-size: 20px !important;
  }

  .header-inner-auth-panel-lang-title-txt {
    font-size: 12px !important;
  }

  .header-inner-auth-panel-lang-title-icon {
    font-size: 12px !important;
  }

  .header-inner-mobile-icon {
    font-size: 20px !important;
    margin-right: 0 !important;
  }

  .header-mobile-nav {
    top: 111px !important;
  }

  .header-mobile-search {
    top: 111px !important;
  }
}

@media only screen and (max-width: 313px) {
  .header-inner-logo img {
    object-fit: contain !important;
  }

  .header-inner-mobile-icon {
    font-size: 20px !important;
  }

  .header-inner-auth-panel-signIn-link p {
    font-size: 12px !important;
  }

  .header-inner-auth-panel-lang-title-txt {
    font-size: 12px !important;
  }

  .header-inner-auth-panel-lang-title-icon {
    font-size: 12px !important;
    margin-left: 4px !important;
  }

  .footer-inner-top-webPage-info-logo {
    width: 100% !important;
  }

  .footer-inner-top-webPage-info-networks {
    width: 100% !important;
  }

  .footer-inner-top-explore {
    width: 100% !important;
  }

  .footer-inner-top-contact {
    width: 100% !important;
  }
}

/*  */

@media only screen and (min-width: 1030px) {
  .header-mobile-nav {
    display: none !important;
  }

  .header-mobile-search {
    display: none !important;
  }
}
