@media only screen and (max-width: 1520px) {
  .home-top-container > .swiper-slide-container > p {
    font-size: 15px !important;
  }
  .nav-bar-links-link {
    padding: 0 8px !important;
  }

  .header-inner-search-title-icon {
    font-size: 20px !important;
  }

  .header-inner-auth-panel-signIn {
    font-size: 15px !important;
  }

  .header-inner-auth-panel-signIn a svg {
    font-size: 18px !important;
  }

  .swiper-slide-container > h1 {
    font-size: 36px !important;
  }

  .swiper-slide-container > p {
    font-size: 30px !important;
  }

  .swiper-slide-container > div img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1360px) {
  .nav-bar-links-link a {
    font-size: 14px !important;
  }

  .header-inner-search {
    min-width: 110px !important;
  }

  .header-inner-search-title-icon {
    margin-left: 4px !important;
  }

  .header-inner-search-title-txt {
    font-size: 14px !important;
  }

  .header-inner-auth-panel-contact-icon {
    width: 28px;
    height: 28px;
    margin-left: 6px;
  }

  .header-inner-auth-panel-signIn-link p {
    font-size: 14px !important;
    margin-left: 4px !important;
  }

  .header-inner-auth-panel-signIn-link-icon {
    font-size: 17px !important ;
  }

  .header-inner-auth-panel-lang-title-txt {
    font-size: 14px !important;
  }

  .home-counter {
    height: auto;
    padding: 70px 0px;
  }

  .home-counter-container {
    flex-wrap: wrap;
    height: auto;
    row-gap: 25px;
  }

  .home-counter-container-box {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .swiper-slide-container > h1 {
    font-size: 26px !important;
  }

  .swiper-slide-container > p {
    font-size: 20px !important;
  }

  .section-title {
    font-size: var(--font-size-mid) !important;
  }

  /* CONTACT REGISTER RESPONSIVE */

  .contact-register {
    flex-direction: column;
  }

  .contact-register-map {
    width: 100%;
  }

  .contact-register-form {
    width: 100%;
  }
}

@media only screen and (max-width: 1160px) {
  .header-mobile-nav {
    display: none !important;
  }

  .nav-bar {
    display: none !important;
  }

  .header-inner-search {
    display: none !important;
  }

  .header-inner-mobile-icon {
    display: block !important;
  }

  /* LANGUAGE SELECT */

  .header-inner-auth-panel {
    display: none !important;
  }
}

@media only screen and (max-width: 1100px) {
  .home-top-container {
    width: 95% !important;
  }
  .home-top-partners {
    width: 95% !important;
  }
  .home-register {
    flex-direction: column;
    align-items: center;
  }
  .home-register-map {
    width: 100%;
  }
  .home-register-form {
    width: 80% !important;
    transform: translateY(-100px) !important;
  }
}

@media only screen and (max-width: 1030px) {
  .parallax {
    flex-direction: column;
    justify-content: start !important;
  }

  .parallax-desc {
    margin-top: 50px !important;
  }

  .parallax-desc-txt {
    font-size: 20px;
  }

  .parallax-img {
    margin-top: 112px;
    width: 100%;
  }

  .parallax-title {
    font-size: var(--font-size-small) !important;
  }

  .section-title {
    font-size: var(--font-size-small) !important;
  }

  /*  */

  .swiper-slide-container {
    padding: 30px !important ;
  }

  .swiper-slide-container > button {
    width: 50% !important;
    font-size: 2vw !important;
  }

  .home-offer-inner-desc-txt {
    font-size: 14px;
  }

  .home-offer-inner-image-mainImg {
    width: 450px;
    height: 450px;
  }
}

@media only screen and (max-width: 800px) {
  .home-offer-inner {
    flex-direction: column;
  }

  .home-offer-inner-desc {
    width: 100%;
  }

  .home-offer-inner-desc-txt {
    text-align: center;
  }
}

@media only screen and (max-width: 750px) {
}

@media only screen and (max-width: 645px) {
  .home-counter-container {
    width: 100%;
  }

  /* .home-slider {
    height: 600px;
  } */

  .home-register {
    padding: 10px;
  }

  .home-register-form {
    width: 90% !important;
  }

  .home-register-form-row {
    margin-bottom: 30px;
  }

  .home-counter-container-box-info > p {
    font-size: 26px;
  }

  .info-animated-1 {
    animation-duration: 0s;
    animation-name: no;
  }
  .title-animated-1 {
    animation-duration: 0s;
    animation-name: no;
  }
  .img-animated-1 {
    animation-duration: 0s;
    animation-name: no;
    position: static !important;
  }

  .swiper-slide-container {
    align-items: center !important;
    flex-direction: column-reverse !important;
    justify-content: center !important;
  }

  .home-slider
    > .swiper1
    > .swiper-wrapper
    > .swiper-slide
    > a
    > .swiper-slide-container
    .title {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .parallax {
    padding: 50px 15px !important;
  }

  .parallax-desc {
    width: 100% !important;
  }

  .subscribe-inner-form-input-prnt {
    width: 100%;
  }

  .subscribe-inner-form-input-prnt > input {
    width: 70% !important;
  }

  .subscribe-inner-form-input-prnt > button {
    width: 30% !important;
  }

  .home-offer-inner-image-mainImg {
    width: 100% !important;
    height: auto;
  }

  .footer-inner-top {
    justify-content: center;
    gap: 60px;
  }

  .footer-inner-top-webPage-info,
  .footer-inner-top-explore,
  .footer-inner-top-contact,
  .footer-inner-top-newsletter {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .swiper-slide-productsContainer > p {
    font-size: 2vw !important;
    line-height: 20px !important;
  }
}

@media only screen and (max-width: 500px) {
  .header-inner-logo {
    width: 80% !important;
  }

  .header-inner-logo img {
    width: 100% !important;
    object-fit: contain !important;
  }

  /* .footer-inner-bottom-desc-txt {
    font-size: 14px !important;
  } */
}

@media only screen and (max-width: 480px) {
  .home-counter-container-box {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .header-inner-auth-panel-lang-select {
    top: 25px !important;
    right: -15px !important;
  }

  .header-inner-auth-panel-signIn-link {
    padding-left: 4px !important;
    flex-direction: column !important;
    justify-content: space-between !important;
  }

  .header-inner-auth-panel-signIn-link p {
    padding: 0 !important;
    margin-top: 4px !important;
  }

  .header-inner-auth-panel-signIn-link-mobile-icon {
    display: block !important;
    color: #3a3939 !important;
    transition: all 0.2s !important;
  }

  .header-inner-auth-panel-signIn-link-icon {
    display: none !important;
  }

  .services-inner {
    padding: 0 10px;
  }

  .services-inner-title-light {
    font-size: 16px;
  }

  .services-inner-title-bold {
    font-size: 22px;
  }

  .services-inner-list-item {
    width: 100%;
    height: 450px;
  }

  .services-inner-list-item-desc-icon {
    font-size: 34px;
  }

  .services-inner-list-item-desc-title {
    font-size: 18px;
  }

  .services-inner-list-item-desc-txt {
    font-size: 14px;
  }

  .subscribe-inner {
    padding: 45px 10px !important;
  }

  .subscribe-inner-title-light {
    font-size: 16px !important;
  }

  .subscribe-inner-title-bold {
    font-size: 22px !important;
  }

  .subscribe-inner-form-input-prnt > input {
    width: 70% !important;
    padding: 0 10px !important;
    font-size: 14 px !important;
  }

  .subscribe-inner-form-input-prnt > button {
    min-width: 120px !important;
    font-size: 14px !important;
  }

  .home-top {
    height: auto !important;
    padding: 50px 0px;
  }
}

@media only screen and (max-width: 313px) {
  .header-inner-logo img {
    object-fit: contain !important;
  }

  .header-inner-mobile-icon {
    font-size: 20px !important;
  }

  .header-inner-auth-panel-signIn-link p {
    font-size: 12px !important;
  }

  .header-inner-auth-panel-lang-title-txt {
    font-size: 12px !important;
  }

  .header-inner-auth-panel-lang-title-icon {
    font-size: 12px !important;
    margin-left: 4px !important;
  }
}

/*  */
