.lines {
  display: flex;
  margin-top: 20px;
  align-items: center;

  & :not(:first-child) {
    margin-left: 10px;
  }

  &-shortLine {
    width: 25px;
    height: 5px;
  }

  &-longLine {
    width: 50px;
    height: 5px;
  }
}
