.home-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .swiper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;

    & > .swiper-wrapper {
      width: 100%;

      & > .swiper-slide {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        padding-top: 50px;
        background: linear-gradient(
          306deg,
          var(--green-dark) 0%,
          rgba(255, 255, 255, 0.3310574229691877) 100%
        );

        & > .atropos {
          width: 80%;
          height: 80%;
          border-radius: 8px;
          // background-color: aquamarine;

          & > .atropos-scale {
            & > .atropos-rotate {
              & > .atropos-inner {
                position: relative;
                overflow: visible;
                display: flex;
                align-items: center;
                justify-content: center;

                & > .img {
                  width: 45%;
                  // height: 120%;
                  position: absolute;
                  left: -8%;
                  border-radius: 8px;
                  z-index: 2;
                  filter: drop-shadow(0px 0px 20px #848383);
                }

                & > .swiper-slide-container {
                  width: 75%;
                  height: 100%;
                  // border: 1px solid red;
                  border-radius: 8px;
                  display: flex;
                  gap: 50px;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  position: absolute;
                  right: 0;
                  padding: 0px 130px;
                  box-shadow: 0px 0px 10px 1px #848383;

                  & > img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    border-radius: 8px;
                  }

                  & > button {
                    width: 220px;
                    height: 65px;
                    background: var(--orange-dark);
                    border: none;
                    cursor: pointer;
                    border-radius: 8px;
                    // font-family: "Teko", serif;
                    font-family: "Roboto";
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                    letter-spacing: 0.1em;
                    color: #fff;
                    transition: 1s;
                    /* From https://css.glass */
                    background: rgba(231, 120, 24, 0.59);
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5.2px);
                    -webkit-backdrop-filter: blur(5.2px);
                    border: 1px solid rgba(231, 120, 24, 1);

                    &:hover {
                      background-color: var(--orange-dark);
                    }
                  }

                  & > h1 {
                    // font-family: "Teko", serif;
                    font-family: "Roboto";
                    font-size: 40px;
                    font-weight: 600;
                    color: var(--orange-dark);
                    text-decoration: none;
                    white-space: pre-line;
                    text-transform: uppercase;
                    text-align: center;
                    /* From https://css.glass */
                    background: rgba(255, 255, 255, 0.45);
                    border-radius: 8px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    padding: 10px;
                  }

                  & > p {
                    font-family: "Teko", serif;
                    // font-family: "Roboto";
                    font-size: 24px;
                    line-height: 1.5em;
                    color: #3a3939;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    text-align: justify;
                    padding: 20px;
                    text-shadow: 0px 0px 15px #fff;
                    /* From https://css.glass */
                    background: rgba(255, 255, 255, 0.45);
                    border-radius: 8px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                  }
                }
              }
            }
          }
        }
      }
    }

    & > .swiper-button-prev {
      color: var(--green-light);
    }

    & > .swiper-button-next {
      color: #fff;
    }

    & > .swiper-pagination {
      > .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: rgb(255, 255, 255);
      }
    }
  }
}
