.header-inner {
  width: 100%;
  display: flex;
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;

  &-logo {
    height: 70px;
    border: solid;

    > img {
      height: 100%;
    }
  }

  &-search {
    width: 60%;
    display: flex;
    cursor: pointer;
    align-items: center;

    &-title {
      display: flex;
      padding: 10px 0;
      align-items: center;
      border-left: 1px solid #3a3939;

      &-icon {
        color: black;
        font-size: 22px;
        margin-left: 10px;
        transition: all 0.2s;
      }

      &-txt {
        font-size: 18px;
        color: #3a3939;
        margin-left: 10px;
        transition: all 0.2s;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    &-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > svg {
          font-size: 30px;
          color: #3a3939;
          margin-right: 6px;
          transition: all 0.2s;

          &:hover {
            color: #44a326;
          }
        }

        > input {
          width: 100%;
          height: 30px;
          border: none;
          outline: none;
          font-size: 25px;
          background-color: #fff;
        }
      }

      > button {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: inherit;

        > svg {
          font-size: 34px;
          color: #3a3939;
          transition: all 0.2s;

          &:hover {
            color: #44a326;
          }
        }
      }
    }

    &:hover &-title svg,
    &:hover &-title p {
      color: #44a326;
    }
  }

  &-auth-panel {
    width: 15%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    border: solid;

    &-signIn {
      cursor: pointer;

      > a {
        display: flex;
        align-items: center;
        text-decoration: none;

        > p {
          padding: 10px;
          color: #3a3939;
          transition: all 0.2s;
        }

        > svg {
          display: flex;
          font-size: 24px;
          color: #3a3939;
          align-items: center;
          transition: all 0.2s;
        }
      }

      &:hover > a > p,
      &:hover > a > svg {
        color: #44a326;
      }
    }

    &-lang {
      width: 100px;
      display: flex;
      color: #3a3939;
      align-items: center;
      flex-direction: column;

      &-title {
        display: flex;
        align-items: center;

        &-txt {
          transition: all 0.2s;
        }

        &-icon {
          display: flex;
          margin-left: 10px;
          align-items: center;
          transition: all 0.2s;
        }

        &:hover &-txt,
        &:hover &-icon {
          color: #44a326;
        }
      }

      &-select {
        width: 100%;
        margin-top: 10px;
        border-radius: 10px;
        list-style-type: none;
        border: solid 1px #3a3939;
        box-shadow: 1px 1px 5px 1px #3a3939;

        &-option {
          padding: 4px;
          text-align: center;
          transition: all 0.2s;

          &:hover {
            color: #44a326;
          }
        }
      }
    }
  }
}
