.nav-bar {
  transition: 500ms;

  &-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

    &-link {
      display: flex;
      flex-grow: 1;
      padding: 0 13px;
      align-items: center;
      position: relative;

      > a {
        font-size: 16px;
        cursor: pointer;
        color: #585858;
        text-align: center;
        transition: all 0.2s;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Reactive";
        letter-spacing: 1px;

        &::after {
          content: "";
          width: 0%;
          height: 1px;
          transition: all 0.2s;
          position: absolute;
          left: 0px;
          bottom: -2px;
          background-color: var(--green-dark);
        }

        &:hover::after {
          width: 100%;
          opacity: 0.6;
        }

        &:hover {
          color: var(--green-light);
        }
      }
    }
  }
}
