.nav-bar {
  transition: 500ms;
  margin-left: auto;

  &-links {
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;

    &-link {
      display: flex;
      flex-grow: 1;
      padding: 0 13px;
      align-items: center;
      position: relative;

      > a {
        cursor: pointer;
        color: #585858;
        display: flex;
        justify-content: center;
        text-align: center;
        transition: all 0.2s;
        text-decoration: none;
        text-transform: uppercase;
        font-family: var(--ff-1);
        letter-spacing: 1px;
        font-weight: 600;

        &::after {
          content: "";
          width: 0%;
          height: 2px;
          transition: all 0.4s;
          position: absolute;
          bottom: -10px;
          background-color: var(--green-dark);
        }

        &:hover::after {
          width: 90%;
          opacity: 0.6;
        }

        &:hover {
          color: var(--green-light);
        }
      }
    }
  }
}
