footer {
  padding-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(56deg, white, #00000024);
  background-position: top;
}

.footer-inner {
  padding: 15px 0;

  &-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &-webPage-info {
      width: 260px;

      &-logo {
        > img {
          width: 100%;
        }
      }

      &-desc {
        margin-top: 20px;

        > p {
          font-size: 16px;
        }
      }

      &-networks {
        display: flex;
        margin-top: 20px;
        align-items: center;
        gap: 10px;

        &-network {
          width: 40px;
          height: 40px;
          display: flex;
          cursor: pointer;
          border-radius: 50%;
          align-items: center;
          transition: all 0.2s;
          justify-content: center;
          background-color: #262626;

          &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            &-icon {
              font-size: 18px;
            }
          }

          &:hover {
            background-color: #44a326;
          }
        }
      }
    }

    &-explore {
      width: 260px;

      &-title {
        font-size: 24px;
        font-weight: bold;
        color: var(--text-color);
        text-transform: uppercase;
      }

      &-links {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-between;

        &-link {
          width: 47%;
          margin-top: 20px;
          position: relative;

          &::before {
            content: "";
            width: 0%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: -6px;
            transition: all 0.2s;
            background-color: var(--green-dark);
          }

          &:hover::before {
            width: 100%;
          }
          > a {
            color: black;
            letter-spacing: 0.5px;
            transition: all 0.2s;
            text-decoration: none;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              color: var(--green-dark);
            }
          }
        }
      }
    }

    &-contact {
      width: 260px;

      &-title {
        font-size: 24px;
        font-weight: bold;
        color: var(--text-color);
        text-transform: uppercase;
      }

      &-links {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;

        &-item {
          display: flex;
          align-items: center;

          &-link {
            gap: 10px;
            color: black;
            display: flex;
            align-items: center;
            text-decoration: none;
            position: relative;

            &-icon {
              & > svg {
                font-size: 24px;
              }
            }

            &::after {
              content: "";
              width: 0%;
              height: 2px;
              position: absolute;
              left: 0;
              bottom: -2px;
              transition: all 0.2s;
              background-color: var(--green-dark);
            }

            &:hover::after {
              width: 100%;
            }

            &:hover {
              color: var(--green-dark);
            }
          }
        }
      }
    }

    &-newsletter {
      width: 260px;

      &-title {
        font-size: 24px;
        color: var(--text-color);
        font-weight: bold;
        text-transform: uppercase;
      }

      > form {
        .contact-register-form-row {
          position: relative;
          margin-bottom: 30px;
        }
        .form-error {
          right: 0;
        }
        > button {
          color: var(--green-light);
          border-color: var(--green-light);
        }
      }

      &-txt {
        font-size: 14px;

        line-height: 30px;
        margin-top: 20px;
      }
    }
  }

  &-bottom {
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: solid 2px #3a3939;

    &-desc {
      &-txt {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
