@font-face {
    font-family: 'Trak';
    src: url('Trak-Bold.eot');
    src: local('Trak Bold'), local('Trak-Bold'),
        url('Trak-Bold.eot?#iefix') format('embedded-opentype'),
        url('Trak-Bold.woff2') format('woff2'),
        url('Trak-Bold.woff') format('woff'),
        url('Trak-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak-BoldItalic.eot');
    src: local('Trak Bold Italic'), local('Trak-BoldItalic'),
        url('Trak-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Trak-BoldItalic.woff2') format('woff2'),
        url('Trak-BoldItalic.woff') format('woff'),
        url('Trak-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak-SemiBold.eot');
    src: local('Trak SemiBold'), local('Trak-SemiBold'),
        url('Trak-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Trak-SemiBold.woff2') format('woff2'),
        url('Trak-SemiBold.woff') format('woff'),
        url('Trak-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak-Italic.eot');
    src: local('Trak Italic'), local('Trak-Italic'),
        url('Trak-Italic.eot?#iefix') format('embedded-opentype'),
        url('Trak-Italic.woff2') format('woff2'),
        url('Trak-Italic.woff') format('woff'),
        url('Trak-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak-BlackItalic.eot');
    src: local('Trak Black Italic'), local('Trak-BlackItalic'),
        url('Trak-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Trak-BlackItalic.woff2') format('woff2'),
        url('Trak-BlackItalic.woff') format('woff'),
        url('Trak-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak-ThinItalic.eot');
    src: local('Trak Thin Italic'), local('Trak-ThinItalic'),
        url('Trak-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Trak-ThinItalic.woff2') format('woff2'),
        url('Trak-ThinItalic.woff') format('woff'),
        url('Trak-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak.eot');
    src: local('Trak'),
        url('Trak.eot?#iefix') format('embedded-opentype'),
        url('Trak.woff2') format('woff2'),
        url('Trak.woff') format('woff'),
        url('Trak.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak-Thin.eot');
    src: local('Trak Thin'), local('Trak-Thin'),
        url('Trak-Thin.eot?#iefix') format('embedded-opentype'),
        url('Trak-Thin.woff2') format('woff2'),
        url('Trak-Thin.woff') format('woff'),
        url('Trak-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak-Black.eot');
    src: local('Trak Black'), local('Trak-Black'),
        url('Trak-Black.eot?#iefix') format('embedded-opentype'),
        url('Trak-Black.woff2') format('woff2'),
        url('Trak-Black.woff') format('woff'),
        url('Trak-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Trak';
    src: url('Trak-SemiBoldItalic.eot');
    src: local('Trak SemiBold Italic'), local('Trak-SemiBoldItalic'),
        url('Trak-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Trak-SemiBoldItalic.woff2') format('woff2'),
        url('Trak-SemiBoldItalic.woff') format('woff'),
        url('Trak-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

