@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Teko:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans";
}

@font-face {
  font-family: "Roboto";
  src: url(../src/assets/fonts/Roboto/LICENSE.txt);
}

:root {
  --global-max--width: 1600px;
  --ff-1: system-ui;
  --ff-2: "Teko", sans-serif;
  --font-size-big: 60px;
  --green-light: #3bb14a;
  --green-dark: #215642;
  --orange-dark: #e77818;
  --orange-light: #ffaa17;
  --grey-dark: #222429;
  --text-color: #585858;
  --thm-black: #222429;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: var(--green-light);
  border-radius: 15px;
}
