.home-counter {
  width: 100%;
  background: var(--thm-black);
  padding: 10px 0;

  &-container {
    max-width: var(--global-max--width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 30px;

    &-box {
      display: flex;
      flex-direction: column;

      &-content {
        border: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & > span {
          font-family: var(--ff-2);
          font-weight: 500;
          color: white;
          font-size: 36px;
        }
      }

      &-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: inherit;
        overflow: hidden;
        text-overflow: ellipsis;

        & > p {
          font-family: var(--ff-2);
          font-size: 22px;
          color: white;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
    }
  }
}
